@import '~@/styles/theme.less';

@font-face {
  font-family: 'JetBrains Mono';
  src: url("./font/woff2/JetBrainsMono-Regular.woff2") format('woff2'),
  url("./font/woff/JetBrainsMono-Regular.woff") format('woff');
}

html {
  overflow-y: auto;
}

a {
  color: @black;
}

input {
  outline: none;
  border: none;
}

ul, li {
  list-style: none;
  margin: 0;
}

form {
  margin: 0;
}
