@import '~@/styles/theme.less';

.root {
  padding: @space-2 @space-3;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -@page-width/2;
  width: @page-width;
  height: 80px;
  font-weight: 600;
  .flex-between();
}
